@font-face {
  font-family: 'AlimamaDongFangDaKaiTi';

  src: url('./AlimamaDongFangDaKai/Alimama_DongFangDaKai_Regular.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AlimamaFangYuanTi';

  src: url('./AlimamaFangYuanTiVF/AlimamaFangYuanTiVF-Thin.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JiaYouYa';

  src: url('./JiaYouYa//JinNianYeYaoJiaYouYa-2.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}
